body {
    padding: 16px;
}
@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-moz-keyframes spinoff {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(-360deg);
    }
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes spinoff {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spinoff {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
/******************************************************************************/
/****************************** Global loader *********************************/
.global-loader-background {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 30000;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}
.global-loader {
    position: fixed;
    top: calc(50% - 16px);
    left: calc(50% - 16px);
    width: 32px;
    height: 32px;
    margin-left: auto;
    animation: spin 750ms infinite linear;
    margin-right: auto;
    z-index: 9002;
}
.table-header {
    text-transform: capitalize;
}
.table-action-button {
    fa-icon {
        cursor: pointer;
        margin-left: 8px;
        font-size: 1rem;
        &:hover {
            opacity: 0.8;
        }
    }
}
.form-container {
    .input-wrapper {
        display: block;
        margin-bottom: 16px;
        label {
            display: block;
            font-size: 0.9rem;
        }
        input,
        textarea {
            width: 100%;
            padding: 4px;
        }
        textarea {
            resize: none;
        }
        .value-label {
            color: #ff0000;
        }
        .read-only {
            pointer-events: none;
            opacity: 0.6;
            outline: none;
        }
        .required-label:after {
            content: "*";
            color: #ff0000;
            font-size: 14px;
            margin-left: 4px;
            position: relative;
            bottom: 3px;
        }
    }
}
.text-right {
    text-align: right;
}
.add-new-item {
    font-size: 1.75rem;
    font-weight: 800;
    text-align: right;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}
ngb-accordion {
    button {
        width: 100%;
    }
    .card-header {
        padding: 0;
    }
}
.modal-close-btn {
    width: 16px;
    height: 16px;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}
.change-pagination {
  width: 70px;
}
