<div class="modal-container">
  <app-modal-header [modalTitle]="modalTitle"></app-modal-header>
  <div class="modal-body">
    <form class="form-container" [formGroup]="detailsForm">
      <div class="row">
        <div *ngFor="let item of formData; let i = index" class="input-wrapper col-{{ item.columns}}">
          <label [ngClass]="{ 'required-label' : item.required}">{{ item.label }}</label>
          <input *ngIf="item.control == 'input'" type="text" id="{{ item.prop }}" formControlName="{{ item.prop }}" [ngClass]="{ 'read-only': item.readOnly }">
          <textarea *ngIf="item.control == 'textarea'" id="{{ item.prop }}" formControlName="{{ item.prop }}" [ngClass]="{ 'read-only': item.readOnly }"></textarea>
        </div>
      </div>
    </form>
    <app-comments *ngIf="comments" [comments]="comments"></app-comments>
  </div>
  <app-modal-footer (triggerSave)="save()"></app-modal-footer>
</div>
