<div class="modal-container">
  <div class="modal-header">
    <h5 class="modal-title">{{ modalTitle }}</h5>
    <div class="d-flex align-items-center">
      <img src="assets/img/close.svg" class="modal-close-btn cursor-pointer" (click)="close()">
    </div>
  </div>
  <div class="modal-body">
    <form class="form-container" [formGroup]="detailsForm">
      <div class="row">
        <div *ngFor="let item of formData; let i = index" class="input-wrapper col-{{ item.columns}}">
          <label [ngClass]="{ 'required-label' : item.required}">{{ item.label }}</label>
          <input *ngIf="item.control == 'input'" type="text" id="{{ item.prop }}" formControlName="{{ item.prop }}" [ngClass]="{ 'read-only': item.readOnly }">
          <textarea *ngIf="item.control == 'textarea'" id="{{ item.prop }}" formControlName="{{ item.prop }}" [ngClass]="{ 'read-only': item.readOnly }"></textarea>
        </div>
      </div>
    </form>

    <div class="comments-wrapper" *ngIf="comments">
      Comments
      <ngb-accordion [closeOthers]="true" activeIds="comment-0">
        <ngb-panel *ngFor="let comment of comments; let i = index;" id="comment-{{ i }}" title="{{comment.name}}">
          <ng-template ngbPanelContent>
            {{ comment.body }}
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="cancel-btn" (click)="close()">
      Cancel
    </button>
    <button type="button" class="save-btn" (click)="save()" ngbAutofocus>Save</button>
  </div>
</div>
