
<div class="list-filter-wrapper">
  <span class="add-new-item" (click)="open('post')">+</span>

  <ng-select
    class="change-pagination"
    [items]="listConstants.PER_PAGE_ITEMS"
    bindLabel="name"
    bindValue="id"
    (change)="onLimitChange($event)"
    [clearable]="false"
    [(ngModel)]="selectedLimit"
  ></ng-select>

  <button *ngFor="let id of userIds" (click)="filterListByUserId(id)">{{ id }}</button>
  <button (click)="filterListByUserId(null)">Reset</button>

  <div class="global-filter-wrapper">
    <i class="fa fa-search"></i>
    <input id="global-Filter" class="filter-input" type="text" placeholder="Search list" [(ngModel)]="gFilter">
  </div>

</div>
<ngx-datatable
  #ngxDatatable
  [rows]="filterData.rows | globalFilter: gFilter"
  class="material"
  [loadingIndicator]="data.loading"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [limit]="selectedLimit"
  [rowHeight]="'auto'"
  [reorderable]="reorderable"
  *ngIf="!data.loading"
>
  <ngx-datatable-column *ngFor="let column of data.columns" name="{{ column.name }}" prop="{{ column.prop }}" [sortable]="false" [resizeable]="false">
    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
      <span class="table-header" (click)="sort()">{{ column.prop }}</span>
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <span *ngIf="column.prop !== 'actions'">{{ row[column.prop] }}</span>
      <span *ngIf="column.prop == 'actions'">
        <span class="table-action-button" (click)="getDetails(data.entity, row.id)">
          <fa-icon [icon]="faPencilAlt"></fa-icon>
        </span>
        <span class="table-action-button" (click)="delete(data.entity, row.id)">
          <fa-icon [icon]="faTrashAlt"></fa-icon>
        </span>
      </span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-footer class="datatable-footer">
    <ng-template
      ngx-datatable-footer-template
      let-rowCount="rowCount"
      let-pageSize="pageSize"
      let-selectedCount="selectedCount"
      let-curPage="curPage"
      let-offset="offset"
      let-myTable="ngxDatatable"
    >
      <div class="page-items-info-wrapper" *ngIf="rowCount > 0">
        <span class="page-items-info" *ngIf="rowCount / pageSize > 1">page
          <strong>{{ curPage }} </strong>of}
          <strong>{{ rowCount / pageSize | roundUp }}</strong>
          (<span>items: </span><strong>{{ rowCount }}</strong>)
        </span>
        <span class="page-items-info" *ngIf="rowCount > 0 && rowCount / pageSize <= 1">
          <span>items: </span><strong>{{ rowCount }}</strong>
        </span>
        <datatable-pager
          [pagerLeftArrowIcon]="'datatable-icon-left'"
          [pagerRightArrowIcon]="'datatable-icon-right'"
          [pagerPreviousIcon]="'datatable-icon-prev'"
          [pagerNextIcon]="'datatable-icon-skip'"
          [page]="curPage"
          [size]="pageSize"
          [count]="rowCount"
          [hidden]="!(rowCount / pageSize > 1)"
          (change)="ngxDatatable.onFooterPage($event)"
        >
        </datatable-pager>
        <div class="clearfix"></div>
      </div>
    </ng-template>
  </ngx-datatable-footer>
</ngx-datatable>
